<?xml version="1.0"?>
<model>
  <name>Simple electric warehouse forklift</name>
  <version>1.0.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author><name>Pallet Stacker project</name></author>
  <description>
    Three-link box-geometry electric counterbalance forklift for Gazebo Harmonic.
  </description>
</model>
